<form method="POST" action="messages" id="newMessageForm">
    
    <p>Username: <input type="text" name="username" id="username" /></p>
    <p>Message: <input type="text" name="body" id="body" /></p>
    
    <input type="hidden" id="room" name="room" value="general"/>
    <input type="submit" value="Submit" />
    
</form>