<h1>Express Chat</h1>

<div id="chatWrapper">

    <p><strong>room:</strong> <span id="roomName">general</span></p>

    <div id="messages">
        <p>No chat messages yet, send one!</p>
    </div>

    <div id="form">

        <form method="POST" action="messages" id="newMessageForm">
            
            <p>Username: <input type="text" name="username" id="username" /></p>
            <p>Message: <input type="text" name="body" id="body" /></p>
            
            <input type="hidden" id="room" name="room" value="general"/>
            <input type="submit" value="Submit" />
        </form>

        <button id="loadMessages">Load Messages</button>

    </div>

</div>